body {
	background: #eaeaea;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
	font-size: 16px;
}

h1 {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #eaeaea;
}

@media (max-width: 960px) {
	h1 {
		font-size: 1.6em;
	}
}

@media (max-width: 960px) {
	h2 {
		font-size: 1.4em;
	}
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	font-weight: 700;
}

a {
	color: #F24785;
}

a:hover {
	color: #cb3a6e;
}

.site-container {
	margin: 1.5rem;
	background: #fff;
	height: calc(100vh - 3rem);
}

.site-content {
	margin: 0 auto;
	padding: 5rem 0;
	max-width: 60em;
}

@media (max-width: 960px) {
	.site-content {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.blog {
	max-width: 46em;
}

	.blog__subtitle {
		font-size: .825em;
	}